{% load static %}
<header class="header-light scroll-light has-topbar">
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between xs-hide">
                        <div class="header-widget d-flex">
                            <div class="topbar-widget"><a href="tel:+918814905509"><i class="icofont-phone"></i>+91 88149 05509</a></div>
                            <div class="topbar-widget"><a href="mailto:inoxflex10@gmail.com"><i class="icofont-envelope"></i>inoxflex10@gmail.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="icofont-wall-clock"></i>Mon - Sat 9AM - 7PM</a></div>
                        </div>

                        <div class="social-icons">
                            <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a>
                            <a href="#"><i class="fa-brands fa-pinterest fa-lg"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <!-- logo begin -->
                        <div id="logo">
                            <a href="{% url 'homepage' %}">
                                <img class="logo-main" src="{% static 'images/logo/logo.png' %}" alt="" width="150" height="50" style="object-fit: contain;">
                                <img class="logo-scroll" src="{% static 'images/logo/logo.png' %}" alt="" width="150" height="50" style="object-fit: contain;">
                                <img class="logo-mobile" src="{% static 'images/logo/logo.png' %}" alt="" width="150" height="50" style="object-fit: contain;">
                            </a>
                        </div>
                        <!-- logo close -->
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="{% url 'homepage' %}">Home</a></li>
                            
                            <!-- Dynamic Categories with Subcategories -->
                            {% for category in categories %}
                            <li><a class="menu-item" href="{% url 'category_detail' slug=category.slug %}">{{ category.name }}</a>
                                {% if category.subcategories.all %}
                                <ul>
                                    {% for subcategory in category.subcategories.all %}
                                    <li><a class="menu-item" href="{% url 'subcategory_detail' category_slug=category.slug subcategory_slug=subcategory.slug %}">{{ subcategory.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}
                            
                            <!-- Static Menu Items -->
                            <li><a class="menu-item" href="{% url 'product_list' %}">Our Products</a></li>
                            <li><a class="menu-item" href="{% url 'about' %}">About Us</a></li>
                            <li><a class="menu-item" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">          
                            <a href="{% url 'contact' %}" class="btn-main bg-color-2">E-Catalogue</a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    /* Header Topbar Clickable Links Hover Effects */
    .topbar-widget a[href^="tel"],
    .topbar-widget a[href^="mailto"] {
        transition: all 0.3s ease;
        position: relative;
    }
    
    .topbar-widget a[href^="tel"]:hover,
    .topbar-widget a[href^="mailto"]:hover {
        color: var(--color-2, #4A9EFF) !important;
        transform: translateY(-2px);
    }
    
    .topbar-widget a[href^="tel"]:hover i,
    .topbar-widget a[href^="mailto"]:hover i {
        transform: scale(1.1);
        display: inline-block;
    }
</style>