{% load static %}
<head>
    <title>Inox Flex</title>
    <link rel="icon" href="{% static 'images/icon.png' %}" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="Inox Flex" name="description" >
    <meta content="" name="keywords" >
    <meta content="" name="author" >
    <!-- CSS Files
    ================================================== -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static "css/plugins.css" %}" rel="stylesheet" type="text/css" >
    <link href="{% static "css/swiper.css" %}" rel="stylesheet" type="text/css" >
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" >
    <link href="{% static "css/coloring.css" %}" rel="stylesheet" type="text/css" >
    <!-- color scheme -->
    <link id="colors" href="{% static "css/colors/scheme-01.css" %}" rel="stylesheet" type="text/css" >

</head>