{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>
    <div id="wrapper">
        <div class="float-text show-on-scroll">
            <span><a href="#">Scroll to top</a></span>
        </div>
        <div class="scrollbar-v show-on-scroll"></div>
        
        <!-- page preloader begin -->
        <div id="de-loader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        {% include "header.html" %}
        <!-- header close -->
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="{% static 'images/background/11.webp' %}" class="jarallax-img" alt="">
                <div class="container relative z-index-1000">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="subtitle s2 bg-color text-light wow fadeInUp mb-2">Discover</div>
                            <h1>Products</h1>
                            <ul class="crumb">
                                <li><a href="{% url 'homepage' %}">Home</a></li>
                                <li class="active">Products</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-lg-end">
                            <div class="fs-20 fw-600 no-bottom sm-hide">Hoses and Pipe & Pipe Fittings</div>
                        </div>
                    </div>
                </div>
                <div class="de-overlay"></div>
            </section>
            <!-- section close -->

            <div class="bg-color relative z-index-1000 mt-40 mb40">
                <div class="border-white-6 text-center bg-color text-white w-84px h-80px p-3 circle absolute abs-center sm-hide">
                    <i class="icofont-image fs-36"></i>
                </div>
            </div>

            <section id="section-products">
                <div class="container">
                    <div class="row g-4">
                        
                        {% if products %}
                            {% for product in products %}
                            <div class="col-lg-4 col-md-6">
                                <div class="inox-product-card bg-light relative hover overflow-hidden rounded-1">
                                    <div class="absolute w-100 h-100 padding30 bg-white hover-op-1 hover-mt-40 z-2">
                                        <h4>{{ product.name }}</h4>
                                        <div>{{ product.description|safe|truncatewords_html:30 }}</div>
                                        <a class="btn-main bg-color-2 mt-3" href="{% url 'product_detail' category_slug=product.category.slug product_slug=product.slug %}">View Details</a>
                                    </div>
                                   <div class="text-center py-3">
                                       {% if product.get_image %}
                                           <img src="{{ product.get_image }}" class="w-80" alt="{{ product.name }}">
                                       {% else %}
                                           <img src="{% static 'images/products/1.webp' %}" class="w-80" alt="{{ product.name }}">
                                       {% endif %}
                                       <h4>{{ product.name }}</h4>
                                       <p class="small">{{ product.category.name }}</p>
                                   </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12 text-center">
                                <h4>No products available at the moment.</h4>
                                <p>Please check back later.</p>
                            </div>
                        {% endif %}

                        <div class="spacer-double"></div>

                    </div>
                </div>
            </section>
        </div>
        <!-- content close -->
        <!-- footer begin -->
        {% include "footer.html" %}
        <!-- footer close -->
    </div>
    
    <!-- Javascript Files
    ================================================== -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/designesia.js' %}"></script>

</body>
</html>